.bg-muted {
    background:#3a3a3a;
    border-radius:16px;
    padding:1rem;
}

.pulse {
  border-radius: 50%;
  background-color: #28a745;
  animation: pulse 1.5s infinite ease-in-out;
}

.pulse-danger {
  border-radius: 50%;
  background-color: #ff4c4c;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



.folder-container {
  background-color: #eeeeee;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.folder-name {
  font-weight: bold;
  font-size: 1.2em;
}

.folder-size {
  font-size: 0.9em;
  color: #888;
}

.dropdown_btn {
    margin:0;
    padding:0;
    color: #777;
    outline:none;
    background:none;
    border:none;
}

.blue-banner {
    background:#1f4164;
}

.title-xl {
    font-size:2.75rem;
    font-weight:900;
}
